@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  @apply w-full flex h-full m-0;
}

#root {
  @apply min-h-svh grow;
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-50%);
  }
}
.swiper-pagination-bullet {
  background: hsla(0, 0%, 60%) !important;
}
.swiper-pagination-bullet-active {
  background-color: hsl(0, 0%, 100%) !important;
  opacity: 1 !important;
}
.swiper-scrollbar {
  background: rgba(255, 255, 255, 0.2) !important;
}
.swiper-scrollbar-drag {
  background: white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white !important;
  font-size: 25px !important;
}
